#avt{
    animation: avtmove 1s ease-out both;
    margin-left: 33%;
    margin-top: 10%;
    width: 35vw;
    height: 35vw;
    object-fit: cover;
    border: 0.2vw solid var(--color2);
    border-radius: 50%;
    box-shadow: 0 3px 7px 0 rgba(238, 150, 234, 0.733), 2px 2px 20px 0 var(--color2);
}
p{
    color: var(--color2);
    margin: 0 2vw;
    font-size: 2vw;
}
#social{
    color: var(--color2);
    text-align: center;
    font-size: 7vw;
}
h3{
    color: var(--color2);
    text-indent: 1vw;
    font-size: 2vw;
}
#name{
    color: var(--color2);
    text-align: center; 
    font-size: 5vw;
    font-style: italic;
    margin: 3vw;
}
.icon{
    width: 4vw;
    height: 4vw;
    margin-left: 1vw;
    margin-top: 1vw;
}
.socialLink{display: flex;}
@keyframes avtmove{
    from{opacity: 0.1;}
    to{opacity: 1; transform: rotate(360deg);}
}
@keyframes iconmove{
    from{opacity: 0.1;}
    to{opacity: 1; transform: rotate(360deg);}
}
@media(prefers-reduced-motion: no-preference){
    .icon-animation{
        animation: iconmove 1.5s ease-out both;
    }
}
